name: sbuild-cache release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*-cache"
    paths:
      - "sbuild-cache/**"
      - "Cargo.toml"
      - "Cargo.lock"

permissions:
  contents: write

jobs:
  publish-binaries:
    name: Publish binaries
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        build:
          - {
              NAME: x86_64-linux,
              TARGET: x86_64-unknown-linux-musl,
            }
          - {
              NAME: aarch64-linux,
              TARGET: aarch64-unknown-linux-musl,
            }
          - {
              NAME: riscv64-linux,
              TARGET: riscv64gc-unknown-linux-musl
            }
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set the release version
        shell: bash
        run: echo "RELEASE_VERSION=${GITHUB_REF:11}" >> $GITHUB_ENV

      - name: Install dependencies
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            --allow-unauthenticated musl-tools b3sum

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          targets: ${{ matrix.build.TARGET }}

      - name: Install cross-compilation tools
        uses: taiki-e/setup-cross-toolchain-action@v1
        with:
          target: ${{ matrix.build.TARGET }}

      - name: Build
        run: RUSTFLAGS="-C target-feature=+crt-static" cargo build --bin sbuild-cache --release --locked --target ${{ matrix.build.TARGET }}

      - name: Prepare release assets
        shell: bash
        run: |
          mkdir -p release
          cp {LICENSE,README.md} release/
          cp "target/${{ matrix.build.TARGET }}/release/sbuild-cache" release/

      - name: Create release artifacts
        shell: bash
        run: |
            cp release/sbuild-cache sbuild-cache-${{ matrix.build.NAME }}
            b3sum sbuild-cache-${{ matrix.build.NAME }} \
              > sbuild-cache-${{ matrix.build.NAME }}.b3sum
            tar -czvf sbuild-cache-${{ matrix.build.NAME }}.tar.gz \
              release/
            b3sum sbuild-cache-${{ matrix.build.NAME }}.tar.gz \
              > sbuild-cache-${{ matrix.build.NAME }}.tar.gz.b3sum

      - name: Publish to GitHub (versioned)
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: sbuild-cache-${{ matrix.build.NAME }}*
          file_glob: true
          overwrite: true
          tag: ${{ github.ref }}
          release_name: "sbuild-cache v${{ env.RELEASE_VERSION }}"

      - name: Publish to GitHub (latest)
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: sbuild-cache-${{ matrix.build.NAME }}*
          file_glob: true
          overwrite: true
          tag: latest-cache
          release_name: "sbuild-cache (latest)"
          prerelease: true
